.login__form {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(179,187,193,0.25);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}

.login__form h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #adadad;
}

.login__form form {
    padding: 0 40px;
    box-sizing: border-box;
}

.button__submit {
    width: 100%;
}

.button__submit:hover{
    transition: .5s;
}

.signup_link {
    text-align: center;
}

.signup_link a {
    margin: 30px 0;
    font-size: 16px;
    color: #0c6ba2;
    text-decoration: none;
}

.error_form {
    text-align: center;
    color: #d53530;
    background-color: rgba(213, 53, 48, 0.18);
    padding: 7px;
    margin-bottom: 3px;
}